# URL de la API del Backend (FastAPI)
# Ejemplo para desarrollo: http://localhost:8000
# Ejemplo en red Docker: http://backend-container:8000
VITE_API_URL=

# Client ID de Google Cloud Console para Google OAuth/Identity Services
VITE_GOOGLE_CLIENT_ID=
